* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #2D2F36;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-areas: "main" "footer";
}

main {
  height: 865px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "left left right right right";
  grid-area: main;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 15px 30px 15px;
  border-radius: 20px;
  color: white;
  grid-area: left;
  background-repeat: no-repeat;
  background-size: cover;
}
.left .currentWeather {
  width: 80%;
}
.left .type {
  font-size: 1.5rem;
  text-align: center;
}
.left h1, .left h2 {
  font-size: 3rem;
  text-align: center;
}
.left button {
  display: block;
  margin: 20px auto 0 auto;
  border: none;
  border-radius: 10px;
  padding: 13px;
  cursor: pointer;
  background-color: #34333D;
  color: white;
  font-size: 0.9rem;
}
.left .country {
  font-size: 1.4rem;
  text-align: center;
}
.left .cards {
  margin-top: 30px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: auto;
  gap: 10px;
}
.left .cards .card {
  border-radius: 20px;
  height: 200px;
  margin-top: 10px;
  background-color: rgba(27, 26, 26, 0.7);
  padding: 20px 20px 20px 25px;
}
.left input {
  color: white;
  margin-bottom: 15px;
  margin-top: 20px;
  border: none;
  width: 80%;
  height: 40px;
  padding: 9px 4px 9px 40px;
  background: url("../images/location.png");
  background-size: 20px;
  background-repeat: no-repeat;
  border-radius: 20px;
  background-position: 10px;
  background-color: #34333D;
}

img {
  width: 25px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 1.3rem;
  color: #96a1ac;
}

.value, .right .container .uv-value, .right .container .wind-value, .right .container .wind-gust {
  font-size: 3rem;
  color: white;
  margin-top: 20px;
}

.right {
  grid-area: right;
  background: #2D2F36;
}
.right .hourly, .right .threeDay {
  margin: 15px 15px 10px 15px;
  width: 96%;
  background-color: #1A1E27;
  padding: 20px;
  border-radius: 20px;
}
.right .hourly .underline, .right .threeDay .underline {
  margin: 10px auto;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}
.right .threeDay {
  margin: 10px 15px;
}
.right ::-webkit-scrollbar {
  height: 6px;
}
.right ::-webkit-scrollbar-thumb {
  background-color: #58575c;
  border-radius: 8px;
}
.right ::-webkit-scrollbar-track {
  background-color: #2D2C36;
  border-radius: 8px;
}
.right .scrollable {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-y: hidden;
  gap: 20px;
  margin-top: 15px;
}
.right .scrollable .hour-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #58575c;
  border-radius: 20px;
  width: 100px;
  flex-shrink: 0;
}
.right .scrollable .hour-card:hover {
  background-color: #58575c;
}
.right .scrollable .hour-card .hour-temp {
  margin-top: 5px;
  font-size: 1.5rem;
}
.right .days-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin-top: 15px;
}
.right .days-container .day-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: white;
  gap: 6px;
  border: 2px solid #58575c;
  border-radius: 20px;
}
.right .days-container .day-card:hover {
  background-color: #58575c;
}
.right .days-container .day-card .bar {
  display: inline-block;
  width: 50px;
  height: 5px;
  border-radius: 5px;
  background: rgb(5, 216, 255);
  background: linear-gradient(90deg, rgb(5, 216, 255) 11%, rgb(203, 75, 75) 70%);
}
.right .days-container .day-card .day-temp, .right .days-container .day-card .day-date {
  font-size: 1.5rem;
}
.right .days-container .day-card .high-and-low {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  font-size: 1.2rem;
}
.right .container {
  color: white;
  margin: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.right .container .flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.right .container .uv-wind, .right .container .sun {
  display: flex;
  width: 96%;
  background-color: #1A1E27;
  padding: 20px;
  border-radius: 20px;
  justify-content: space-around;
}
.right .container .border-left {
  border-left: 2px solid rgba(255, 255, 255, 0.25);
}
.right .container .uv-value, .right .container .wind-value, .right .container .wind-gust {
  font-size: 2rem;
}
.right .container .wind-value, .right .container .wind-gust {
  width: 70px;
}
.right .container .wind-units {
  line-height: 1.2rem;
  text-align: center;
  margin-top: 20px;
}
.right .container .wind-units .mph {
  color: #96a1ac;
}
.right .container .range {
  font-size: 1.2rem;
}
.right .container .suncream {
  font-size: 0.8rem;
  margin-top: 20px;
}

footer {
  box-sizing: border-box;
  color: white;
  grid-area: footer;
  background-color: #1A1E27;
  text-align: center;
  grid-area: footer;
  padding: 10px 0;
}
footer a {
  color: white;
}/*# sourceMappingURL=style.css.map */